<div class="container">
  <div class="row">
    <div class="span12">
	  <h1>Confirm Payment</h1>
	  <p>Thank you for authorising this recurring payment. To complete the process, please click the "Pay with Paypal" button below.</p>
	  <%= render 'form' %>
    </div><!-- span12 -->
  </div><!-- row -->
</div><!-- container -->
