<div class="container">
  <div class="row">
    <div class="span12">
      <h1>My Subscriptions</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Subscription type</th>
              <th>Renewal date</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @subscriptions.each do |subscription| %>
              <tr>
                <td><%= subscription.subscription_type.name %></td>
                <td><%= subscription.renew_on %></td>
                <td><%= link_to 'Cancel', subscription, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br />

        <%= link_to 'New Subscription', new_subscription_path, class: "btn btn-success" %>
    </div><!-- span12 -->
  </div><!-- row -->
</div><!-- container -->